html { 
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden; 
}
body { 
	width: 100%;
	height: 100%; 
	margin: 0; 
	padding: 0 ;
}
.fullWidth{ 
	width: 100%;
	height: 100%; 
}
#map-canvas { 
	width: 100%;
	height: 100%; 
	position: absolute;
	top: 0;
	left: 0;
}
.searchBox{
	position:absolute; padding:0 50px; height:50px; width:calc(100% - 100px); left:0; right:0; top:250px; margin:auto;
	#searchInput {
		width:calc(85% - 20px); float:left; height:48px; @include borderRadius(6); border:1px solid #FA5E00; padding:1px 10px; font-size:16px;
	}
	input[type="submit"]{
		float:left; margin-left: 15px; @include borderRadius(6); border:1px solid #FA5E00; padding:0 50px; height:100%; background:rgb(225,51,41); color:#fff; font-size:16px; 
		box-shadow: 0 3px rgba(0,0,0,0.5); cursor:pointer; 
		&:hover{ box-shadow: 0 3px rgba(0,0,0,0.9); }
	}
}